<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="../public/stylesheet/trim_photo.css" type="text/css" />
<!-- <script type="text/javascript" src="../public/bower_components/jquery/dist/jquery.js"></script> -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="../public/script/jquery.Jcrop.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//记得放在jQuery(window).load(...)内调用，否则Jcrop无法正确初始化
		$("#bPic").Jcrop({
			onChange:showPreview,
			onSelect:showPreview,
			aspectRatio:1
		});	
		//简单的事件处理程序，响应自onChange,onSelect事件，按照上面的Jcrop调用
		function showPreview(coords){
			if(parseInt(coords.w) > 0){
				//计算预览区域图片缩放的比例，通过计算显示区域的宽度(与高度)与剪裁的宽度(与高度)之比得到
				var rx = $("#preview_box").width() / coords.w; 
				var ry = $("#preview_box").height() / coords.h;
				//通过比例值控制图片的样式与显示
				$("#crop_preview").css({
					width:Math.round(rx * $("#bPic").width()) + "px",	//预览图片宽度为计算比例值与原图片宽度的乘积
					height:Math.round(rx * $("#bPic").height()) + "px",	//预览图片高度为计算比例值与原图片高度的乘积
					marginLeft:"-" + Math.round(rx * coords.x) + "px",
					marginTop:"-" + Math.round(ry * coords.y) + "px"
				});
			}
		}
	});
</script>
</head>
<body>
<div class="box-163css">
	<h1>Jcrop照片剪裁插件高宽比例固定/剪裁效果预览演示</h1>
	<div class="part01-jscrop">
		<img style="width:550px" id="bPic" src="../public/images/img01.jpg" />
		<span id="preview_box" class="crop_preview"><img id="crop_preview" src="../public/images/img01.jpg" /></span>	</div>
</div>
</body>
</html>
