include head
script(type='text/javascript', src='bower_components/validator-js/validator.min.js')
script(type='text/javascript', src='script/jquery.Jcrop.js')
link(rel='stylesheet', type='text/css', href='/stylesheet/jquery.Jcrop.css')

.my_attraction
	.navigation(style='border-bottom : 0px')
		label#dinner_party.lab1
		label#singer.lab2(style='background-position: 0px -38px;')
		label#attractive.lab3
		label#my_attractive.lab4
	//- .userinfo_nav
	//- 	.userinfo_navtxt
	//- 		a#set_photo.set_photo(href="#", style="color:#5bc7d6") 设置头像
	//- 		a#set_userinfo.set_userinfo(href="#") 基本信息
	//- 		a#set_userhistory.set_userhistory(href="#") 履历
	//- 		a#set_userlab.set_userlab(href="#") 个性标签
	//- 		a#modiy_password.modiy_password(href="#") 修改密码
	.creat_dinner_center
		.dinner_text_border
			.dinner_text2 准备
			.dinner_text3 遇见志同道合的他们

		.dinner_left
			span.dinner_left_text
				h5. 标题
			span.dinner_left_text
				h5. 地点
			span.dinner_left_text
				h5. 开始时间
			span.dinner_left_text
				h5. 人数上限
			span.dinner_left_text
				h5. 费用
			span.dinner_left_text
				h5. 添加标签
			span.dinner_left_text(style='margin-top: 260px')
				h5. 详细描述
			span.dinner_left_text(style='margin-top: 150px')
				h5. 封面
			span.dinner_left_text
				h5. 手机号
		.dinner_right
			form#creat_dinner_form(enctype="multipart/form-data",type="post",action="creat_dinner")
				span.dinner_right_span
					input#dinner_tag_input.dinner_tag_input(name="dinner_tag_input")
					h5#dinner_tag_input_tip1.dinner_right_remark(style='float:left;') 起一个让人看一眼就明白的标题
					img(src="images/blue_triangle.png")#dinner_tag_input_tr.dinner_right_tr
					h5#dinner_tag_input_tip.dinner_tag_input_tip 标题必须在2-50个字节!
				span.dinner_right_span
					select#dining_locations(name='dining_locations',style='width: 100px;') 
						option(value='咖啡厅') 咖啡厅
						option(value='桌游') 桌游
						option(value='奶茶') 奶茶
					span.dinner_right_remark(style='margin-right: 10px') 厦门
					input#dining_locations_info.dining_locations_input(name="dining_locations_info")
					h5#dinner_locations_info_tip.dinner_time_tip 地址不超过50字
					img(src="images/blue_triangle.png")#dinner_locations_info_tr.dinner_time_tr
				span.dinner_right_span
					input#dinner_time_input.dinner_time_input(placeholder="2014-01-01",name="dinner_time_input")
					span.dinner_time_select
					select#hours(name='hours',style='width: 100px;') 
						-for(var i = 0; i < 24; i++)
							option(value='#{i}') #{i}
					h5.dinner_right_remark 时
					select#minute(name='minute',style='width: 100px; margin-left: 30px;') 
						option(value='0') 0
						option(value='15') 15
						option(value='30') 30
						option(value='45') 45
					h5.dinner_right_remark 分
					h5#dinner_time_tip.dinner_time_tip 请按格式输入日期!
					img(src="images/blue_triangle.png")#dinner_time_tr.dinner_time_tr
					
				span.dinner_right_span
					input#number_of_meals.number_of_meals
					h5#number_of_meals_tip.dinner_time_tip(style='margin-right: 540px;') 人数必须为1-50位
					img(src="images/blue_triangle.png")#number_of_meals_tr.dinner_time_tr
				span.dinner_right_span
					input#payment_method.payment_method(type='radio',name='payment_method',value='AA制')
					h5.AA_zhi AA制
					input#payment_method.payment_method(style='margin-top: 4px',type='radio',name='payment_method',value='我请客') 
					h5.woqingke 我请客
					input#payment_method.payment_method(style='margin-top: 4px',type='radio',name='payment_method',value='各付各') 
					h5.woqingke 各付各
				span.dinner_right_span
					.my_lab_div1
						if tag
							-for(var i = 0; i < tag.length; i++)		
								div#my_lab_clone.my_lab_form
									h5#my_leb_text.my_leb_text1 #{tag[i]}
									a#delete_my_leb.delete_my_leb(href='#')
					.add_lab_div1
						input#add_lab_input.add_lab_input
						a#add_lab_button.add_lab_button(href='#')
					.push_lab_div
						if push_info
							-for(var i = 0; i < push_info.length; i++)
								div#push_lab_form.push_lab_form
									a#push_leb_button.push_leb_button(href='#')
									h5#push_leb_text.my_leb_text #{push_info[i].tag_name}
				span.dinner_right_span
					textarea#description.description
					h5.description_text 你们将要吃哪些可口的东西
					h5.description_text 人均大概消费多少
					h5.description_text 赴宴的人如何更好的找到你的饭桌
					h5.description_text 关于饭局的更多特色
					h5#description_tip.dinner_time_tip(style='margin-top: 50px') 详细描述为必填
					img(src="images/blue_triangle.png",style='margin-top: 43px')#description_tr.dinner_time_tr
				span.dinner_right_span(style='margin-top: 350px;')
					a#add_cover.add_cover(href='#')
					h5.dinner_right_remark.add_cover_text 用一张好看的照片代表你的饭局
				span.dinner_right_span
					input#tel_of_meals.number_of_meals
					h5#get_dinner_num.dinner_right_remark 只有确认参与的人才会获取你的手机号，同时你也能获取他们的手机号
					h5#tel_of_meals_tip.dinner_time_tip(style='margin-right: 500px') 请填写正确的手机号码
					img(src="images/blue_triangle.png")#tel_of_meals_tr.dinner_time_tr
				span.dinner_right_span
					a#creat_dinner_submit.creat_dinner_submit(href='#')
					h5.dinner_right_remark.add_cover_text(style='margin-right: 445px;') 最重要的是，分享让更多人加入
				form#upload_img.upload_img(action='/dinner_photo', method='post', enctype='multipart/form-data')
					input#file(type="file",name="file",class='hide' )
				div#add_dinner_photo_border.add_dinner_photo_border
					.preview_dinner_photo_text 图片预览:
					.preview_dinner_photo 
						img#dinner_photo_preview.dinner_photo_preview(src='images/prewivw_dinner_photo.png')
					a#inner_button.inner_button(href='#')
					a#inner_button1.inner_button(href='#', style="background-position : -413px -73px; display: none")
					.preview_dinner_choice_text 
						h5(style='margin-left: -5px; margin-top: 5px; margin-bottom:5px;') 你也可以选择我们为你推选的照片
						a#choice_min_photo1.choice_min_photo1(href="#")
						a#choice_min_photo2.choice_min_photo2.cmp2(href="#")
						a#choice_min_photo3.choice_min_photo3.cmp3(href="#")
						a#choice_min_photo4.choice_min_photo4.cmp4(href="#")
						a#choice_min_photo5.choice_min_photo5.cmp5(href="#")
						a#choice_min_photo6.choice_min_photo6.cmp6(href="#")
						a#choice_min_photo7.choice_min_photo7.cmp7(href="#")
						a#choice_min_photo8.choice_min_photo8.cmp8(href="#")
script
	:coffee
		user_tag1()
	//- include foot
