<form id="find_password_form" method="post">
	<div class="center">
		<div class="find_password_border">
			<div class="find_password_text1">不要担心：</div>
			<div class="find_password_text2">邮箱</div>
			<input class="find_password_email" name="find_password_email" />
			<a href="#" class="find_password_button" id="find_password_button"></a>
		</div>
	</div>
</form>