<form id="form1" method="post">
<div class="center">

	<div id="turn_left" class="turn_photo_left"></div>
	<div id="mian_photo" class="main_border">
		<a id="login" class="one" href="/login"></a>
		<div id="apply_button" class="a_button"></div>
		<input id="e_mail" name="e_mail" type="hidden" class="e_mail"/><b hidden id="xing1" class="xing1">*</b><p id="email_tip" class="email_tip"></p>
		<input id="username" name="username" type="hidden" class="name"/><b hidden id="xing2" class="xing2">*</b><p id="name_tip" class="name_tip"></p>
		<input id="city" name="city" type="hidden" class="city"/><b hidden id="xing3" class="xing3">*</b><p id="city_tip" class="city_tip"></p>
		<textarea hidden id="about_me" name="about_me" class="about_me"></textarea>
		<div hidden id="messge_sub" class="messge_sub"></div>
	</div>
	<div id="turn_right" class="turn_photo_right"></div>
</div>
</form>