include head
div.my_attraction
  div.iat_navigation
    label#iat_hot.iat_lab1
      h4(style='margin-left:12px; margin-top:9px; font-size:14px;') 热门的
    label#iat_new.iat_lab2
      h4(style='margin-left:13px; margin-top:9px; font-size:14px;') 最新的
    label#iat_add.iat_lab3
      h4(style='margin-left:6px; margin-top:9px; font-size:14px;') 我加入的
    label#iat_enter.iat_lab4
      input
      a(href='#')
  a.circle_text(style='top:150px; left:120px; font-size:14px;') 电影
  a.circle_text(style='top:290px; left:350px; font-size:18px;') 单身
  a.circle_text(style='top:185px; left:646px; font-size:16px;') 互联网
  a.circle_text(style='top:369px; left:860px; font-size:14px;') 杭州
  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns', width='1012px', height='436px', viewBox='0 0 1012 436', version='1.1')
    title Slice 1
    description Created with Sketch (http://www.bohemiancoding.com/sketch)
    defs
      circle#path-1(cx='873.5', cy='329.5', r='71.5')
      circle#path-2(cx='873.5', cy='329.5', r='57.5')
      circle#path-3(cx='873.5', cy='329.5', r='49.5')
    g#Page-1(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', sketch:type='MSPage')
      circle#Oval-3(stroke='#D7D7D7', stroke-width='2', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='134.5', cy='112.5', r='52.5')
      circle#Oval-2(stroke='#D7D7D7', stroke-width='3', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='134.5', cy='112.5', r='42.5')
      circle#Oval-1(stroke='#E2958B', stroke-width='6', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='134.5', cy='112.5', r='36.5')
      circle#Oval-3(stroke='#D7D7D7', stroke-width='2', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='667.5', cy='147.5', r='84.5')
      circle#Oval-2(stroke='#D7D7D7', stroke-width='3', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='669', cy='148', r='71')
      circle#Oval-1(stroke='#FF8263', stroke-width='8', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='669', cy='148', r='64')
      ellipse#Oval-3(stroke='#D7D7D7', stroke-width='2', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='364', cy='252', rx='132', ry='134')
      ellipse#Oval-2(stroke='#D7D7D7', stroke-width='3', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='363.5', cy='253', rx='117.5', ry='119')
      ellipse#Oval-1(stroke='#5BC7D6', stroke-width='9', fill='#FFFFFF', sketch:type='MSShapeGroup', cx='363.5', cy='252.5', rx='105.5', ry='106.5')
      g#Oval-3
        use(stroke='#D7D7D7', stroke-width='2', fill='#FFFFFF', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-1')
        use(stroke='none', fill='none', xlink:href='#path-1')
      g#Oval-2
        use(stroke='#D7D7D7', stroke-width='3', fill='#FFFFFF', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-2')
        use(stroke='none', fill='none', xlink:href='#path-2')
      g#Oval-1
        use(stroke='#5BD66A', stroke-width='7', fill='#FFFFFF', fill-rule='evenodd', sketch:type='MSShapeGroup', xlink:href='#path-3')
        use(stroke='none', fill='none', xlink:href='#path-3')
include foot