<div class="my_attraction">
	<% if (user) { %>
		<div class="navigation" style="border-bottom: 1px #bbbbbb solid; width:69%; height: 55px;">
			<label id="dinner_party" class="lab1" style="background-position: 0px 0px;"></label>
			<label id="singer" class="lab2"></label>
			<label id="attractive" class="lab3"></label>
			<label id="my_attractive" class="lab4"></label>
		</div>
	<% } %>
	<div class="idinner_center">
		<div class="idinner_right">
			<div class="idinner_today"><h5>今天 05月22日 星期一</h5></div>
			<h3 class="label_text" style="margin-top:73px; margin-left:20px;">活力饭友</h3>
			<div class="photo_mini1">
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">三二八</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">三二八</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				
			</div>
			<h3 class="label_text" style="margin-top:228px; margin-left:20px;">最近加入</h3>
			<div class="photo_mini1">
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">三二八</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
			</div>

			<div class="photo_mini1">
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">开心</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">湛蓝</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">手绘地图-燕子</p>
				</div>
				<!-- <a href="#"><p class="idinner_user_info">手绘地图-燕子</p></a> -->
				<!-- <a href="#"></a>
				<a href="#" style="margin-right:0px;"></a> -->

			</div>
		</div>

		<div class="idinner_left">
			<span class="idinner_navigation">
				<a href="#" style="color: #5bc7d6;">全部</a>
				<a href="#">费用</a>
				<a href="#">地点类型</a>
				<a href="#">就餐距离</a>
				<a href="#">标签</a>
				<a href="#" class="go_dinner"></a>
			</span>
			<div class="dinner_now">
				<span class="dinner_photo"></span>
				<span class="dinner_photo_info">
					<h2>艺术爱好者们交友聚餐啦</h2>
					<h6>思明区华南路27号黑糖咖啡</h6>
					<div class="small_lab">
						<label><p>玩游戏</p></label>
						<label><p>玩游戏不玩</p></label>
						<label><p>玩游戏</p></label>
					</div>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
				</span>
				<span class="dinner_date">
					<h1>今天</h1>
					<p>星期一&nbsp;&nbsp;18：00</p>
				</span>
				<a href="#" class="dinner_jion_btn"></a>
				<span class="treat">
					<p>AA制</p>
				</span>
			</div>
			<div class="dinner_now">
				<span class="dinner_photo"></span>
				<span class="dinner_photo_info">
					<h2>艺术爱好者们交友聚餐啦</h2>
					<h6>思明区华南路27号黑糖咖啡</h6>
					<div class="small_lab">
						<label><p>玩游戏</p></label>
						<label><p>玩游戏不玩</p></label>
						<label><p>玩游戏</p></label>
					</div>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
				</span>
				<span class="dinner_date">
					<h1>05/22</h1>
					<p>星期一&nbsp;&nbsp;18：00</p>
				</span>
				<a href="#" class="dinner_jion_btn"></a>
				<span class="treat"></span>
			</div>
			<h3 class="label_text">往期聚餐</h3>
			<div class="dinner_now">
				<span class="dinner_photo"></span>
				<span class="dinner_photo_info">
					<h2>艺术爱好者们交友聚餐啦</h2>
					<h6>思明区华南路27号黑糖咖啡</h6>
					<div class="small_lab">
						<label><p>玩游戏</p></label>
						<label><p>玩游戏不玩</p></label>
						<label><p>玩游戏</p></label>
					</div>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
				</span>
				<span class="dinner_date">
					<h1>05/22</h1>
					<p>星期一&nbsp;&nbsp;18：00</p>
				</span>
				<a href="#" class="dinner_jion_btn"></a>
				<span class="treat"></span>
			</div>
			<div class="dinner_now">
				<span class="dinner_photo"></span>
				<span class="dinner_photo_info">
					<h2>艺术爱好者们交友聚餐啦</h2>
					<h6>思明区华南路27号黑糖咖啡</h6>
					<div class="small_lab">
						<label><p>玩游戏</p></label>
						<label><p>玩游戏不玩</p></label>
						<label><p>玩游戏</p></label>
					</div>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
					<a href="#" class="friends_photo"></a>
				</span>
				<span class="dinner_date">
					<h1>05/22</h1>
					<p>星期一&nbsp;&nbsp;18：00</p>
				</span>
				<a href="#" class="dinner_jion_btn"></a>
				<span class="treat"></span>
			</div>
		</div>
	</div>
</div>