include head
.my_attraction
  
  .navigation(style='border-bottom: 1px #bbbbbb solid; width:69%; height: 55px;')
    label#dinner_party.lab1(style='background-position: 0px 0px;')
    label#singer.lab2
    label#iring.lab3
    label#my_attractive.lab4
  
  .idinner_center
    .idinner_right
      .idinner_today
        h5 今天 05月22日 星期一
      h3.label_text(style='margin-top:73px; margin-left:20px;') 活力饭友
      .photo_mini1
        .idinner_lie
          a(href='#')
          p.idinner_user_info 灵大动
        .idinner_lie
          a(href='#')
          p.idinner_user_info 三二八
        .idinner_lie
          a(href='#')
          p.idinner_user_info 灵大动
        .idinner_lie
          a(href='#')
          p.idinner_user_info 灵大动
        .idinner_lie
          a(href='#')
          p.idinner_user_info 三二八
        .idinner_lie
          a(href='#')
          p.idinner_user_info 灵大动
      h3.label_text(style='margin-top:228px; margin-left:20px;') 最近加入
      .photo_mini1
        .idinner_lie
          a(href='#')
          p.idinner_user_info 灵大动
        .idinner_lie
          a(href='#')
          p.idinner_user_info 三二八
        .idinner_lie
          a(href='#')
          p.idinner_user_info 灵大动
      .photo_mini1
        .idinner_lie
          a(href='#')
          p.idinner_user_info 开心
        .idinner_lie
          a(href='#')
          p.idinner_user_info 湛蓝
        .idinner_lie
          a(href='#')
          p.idinner_user_info 手绘地图-燕子
    .idinner_left
      span.idinner_navigation
        a(href='#', style='color: #5bc7d6;') 全部
        a(href='#') 费用
        a(href='#') 地点类型
        a(href='#') 就餐距离
        a(href='#') 标签
        a.go_dinner(href='#')
      .dinner_now
        span.dinner_photo
        span.dinner_photo_info
          h2 艺术爱好者们交友聚餐啦
          h6 思明区华南路27号黑糖咖啡
          .small_lab
            label
              p 玩游戏
            label
              p 玩游戏不玩
            label
              p 玩游戏
          a.friends_photo(href='#')
          a.friends_photo(href='#')
          a.friends_photo(href='#')
          a.friends_photo(href='#')
        span.dinner_date
          h1 今天
          p 星期一  18：00
        a.dinner_jion_btn(href='#')
        span.treat
          p AA制
      .dinner_now
        span.dinner_photo
        span.dinner_photo_info
          h2 艺术爱好者们交友聚餐啦
          h6 思明区华南路27号黑糖咖啡
          .small_lab
            label
              p 玩游戏
            label
              p 玩游戏不玩
            label
              p 玩游戏
          a.friends_photo(href='#')
          a.friends_photo(href='#')
          a.friends_photo(href='#')
          a.friends_photo(href='#')
        span.dinner_date
          h1 05/22
          p 星期一  18：00
        a.dinner_jion_btn(href='#')
        span.treat
      h3.label_text 往期聚餐
      .dinner_now
        span.dinner_photo
        span.dinner_photo_info
          h2 艺术爱好者们交友聚餐啦
          h6 思明区华南路27号黑糖咖啡
          .small_lab
            label
              p 玩游戏
            label
              p 玩游戏不玩
            label
              p 玩游戏
          a.friends_photo(href='#')
          a.friends_photo(href='#')
          a.friends_photo(href='#')
          a.friends_photo(href='#')
        span.dinner_date
          h1 05/22
          p 星期一  18：00
        a.dinner_jion_btn(href='#')
        span.treat
      .dinner_now
        span.dinner_photo
        span.dinner_photo_info
          h2 艺术爱好者们交友聚餐啦
          h6 思明区华南路27号黑糖咖啡
          .small_lab
            label
              p 玩游戏
            label
              p 玩游戏不玩
            label
              p 玩游戏
          a.friends_photo(href='#')
          a.friends_photo(href='#')
          a.friends_photo(href='#')
          a.friends_photo(href='#')
        span.dinner_date
          h1 05/22
          p 星期一  18：00
        a.dinner_jion_btn(href='#')
        span.treat
include foot