include head
.my_attraction
  .navigation
    label#dinner_party.lab1
    label#singer.lab2
    label#iring.lab3
    label#my_attractive.lab4(style='background-position: 0px -112px;')
  .my_attraction_right
    a#modiy_user.data_editing(href='#')
    span.my_attraction_block1
      h1.state_title.my_attraction_iwant 我想:
    span.my_attraction_block2
      h5.my_attraction_h5 在东软附近的咖啡馆
      h5.my_attraction_h5 聊聊互联网、创业、艺术设计、电影等相关话题
    span.my_attraction_block3
      p.attraction_main_photo
    span.my_attraction_block5
      h1.state_title_medal 勋章
      span.medal_row
        p.my_attraction_medal
        p.my_attraction_medal
        p.my_attraction_medal(style='border:0px;')
      span.medal_row
        p.my_attraction_medal
        p.my_attraction_medal
        p.my_attraction_medal(style='border:0px;')
    span.my_attraction_block4
      h1.state_title 饭友评价
      .friend_appraise(style='margin-top: 30px;')
        p.my_attraction_userphoto 123
        .appraises
          .quotes_start
          p.appraises_info 吃的很愉快，砍了很多互联网的东西
          .quotes_end
      .friend_appraise
        p.my_attraction_userphoto 123
        .appraises
          .quotes_start
          p.appraises_info 啊啊啊啊啊啊啊啊啊啊 啊啊啊啊啊 啊啊啊啊啊  啊啊啊啊啊 啊 啊啊啊啊 啊啊啊啊啊啊啊啊啊啊啊啊啊啊 啊啊啊啊啊 啊啊啊啊啊  啊啊啊啊啊 啊 
          .quotes_end
      .friend_appraise
        p.my_attraction_userphoto 123
        .appraises
          .quotes_start
          p.appraises_info 1231231223
          .quotes_end
  .my_attraction_left
    img(src='../images/linyao.png')
    p.my_attraction_name 林遥
    .chakong
    p(style='display: inline;') 厦门 
    p.my_attraction_info(style='font-size: 13px;') 1991-02-23
    p
    .activity
      label(style='width: 70px;')
        h2 10
        h6 被邀请
      label(style='width: 71px;')
        h2 1
        h6 聚餐
      label(style='width: 65px; border: 0px;')
        h2(style='padding-left: 6px;') 2
        h6(style='padding-left: 6px;') 饭友
    .state
      h5 婚恋状态:
      h6 单身
      h5(style='margin-top:21px; margin-left:18px;') 这就是我:
      h6(style='margin-top:16px; line-height:19px;') 在互联网、设计、艺术及ACG中翻滚的90后
      h6(style='margin-top:19px;') 折腾饭有引力fanyor.com
      span.curriculum_vitae
        h1.state_title 履历
        h5 求学之路
        span.state_title_info1
          h6 厦门大学
          h6 数字媒体艺术
          h6 动画、电影、游戏...
        h5(style='margin-top:23px;') 工作经历
        span.state_title_info1
          h6 饭有引力fanyor.com
          h6 创始人
          h6 第一次创业
          h6 第一次拿投资
      span.my_attraction_link
        h1.state_title 链接
        div
          span.my_attraction_ico(style='margin-top: 23px;')
          a(href='#') 豆瓣社区
        div
          span.my_attraction_ico
          a(href='#') 豆瓣社区
        div
          span.my_attraction_ico
          a(href='#') 豆瓣社区
        div
          span.my_attraction_ico
          a(href='#') 豆瓣社区
        div
          span.my_attraction_ico
          a(href='#') 豆瓣社区
include foot