<div class="my_attraction">		
		<div class="navigation">
			<label id="1" class="lab1"></label>
			<label id="2" class="lab2"></label>
			<label id="3" class="lab3"></label>
			<label id="4" class="lab4" style="background-position: 0px -112px;"></label>
		</div>
</div>