include head
div.my_attraction
  div.iring_navigation(style='border-bottom: 1px #bbbbbb solid; width:69%; height: 51px;')
    label#iring_return.iring_lab1
    label#iring1.iring_lab2
    label#dinner_party1.iring_lab3
    label#singer1.iring_lab4
  div.idinner_center
    div.idinner_right
      div.iring_brow
        a#iring_iwant.iring_iwant(href='#')
        a.iring_out 退出
        div.iring_leader
        div.iring_leader_bowl
      

    div.idinner_left1
      div.iwant_div
        span.iwant_photo
        span.iring_photo_info
        span.iring_isay 我想吃海底捞啊，有没有人请我
        div.iring_info_right1
          a.iring_iname(href='#') 林遥
        div.iring_info_right2
          span.iring_inscribe 厦门大学 数字媒体艺术
      div.iwant_div
        span.iwant_photo
        span.iring_photo_info
        span.iring_isay 我想吃海底捞啊，有没有人请我
        div.iring_info_right1
          a.iring_iname(href='#') 林遥
        div.iring_info_right2
          span.iring_inscribe 厦门大学 数字媒体艺术
    div.iring_menber
      span
        a.menber_photo(href='#')
        a.menber_name(href='#') 吴超
        h4.iring_info1 有鱼网
        h4.iring_info2 创始人
      span
        a.menber_photo(href='#')
        a.menber_name(href='#') 廖逸聪
        h4.iring_info1 饭有引力fanyor.com
        h4.iring_info2 创始人
      span
        a.menber_photo(href='#')
        a.menber_name(href='#') 吴超
        h4.iring_info1 有鱼网
        h4.iring_info2 创始人
      span
        a.menber_photo(href='#')
        a.menber_name(href='#') 廖逸聪
        h4.iring_info1 饭有引力fanyor.com
        h4.iring_info2 创始人
include foot
