<div class="my_attraction">

		<div class="iring_navigation" style="border-bottom: 1px #bbbbbb solid; width:69%; height: 55px;">
			<label id="" class="iring_lab1"></label>
			<label id="" class="iring_lab2"></label>
			<label id="" class="iring_lab3"></label>
			<label id="" class="iring_lab4"></label>
		</div>
	<div class="idinner_center">
		<div class="idinner_right">
			<div class="idinner_today"><h5>今天 05月22日 星期一</h5></div>
			<h3 class="label_text" style="margin-top:73px; margin-left:20px;">活力饭友</h3>
			<div class="photo_mini1">
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">三二八</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">三二八</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				
			</div>
			<h3 class="label_text" style="margin-top:228px; margin-left:20px;">最近加入</h3>
			<div class="photo_mini1">
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">三二八</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">灵大动</p>
				</div>
			</div>

			<div class="photo_mini1">
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">开心</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">湛蓝</p>
				</div>
				<div class="idinner_lie">
					<a href="#"></a>
					<p class="idinner_user_info">手绘地图-燕子</p>
				</div>
				<!-- <a href="#"><p class="idinner_user_info">手绘地图-燕子</p></a> -->
				<!-- <a href="#"></a>
				<a href="#" style="margin-right:0px;"></a> -->

			</div>
		</div>

		<div class="idinner_left1">
			<div class="iwant_div">
				<span class="iwant_photo"></span>
				<span class="iring_photo_info"></span>
				<span class="iring_isay">我想吃海底捞啊，有没有人请我</span>
				<div class="iring_info_right1">
					<a class="iring_iname" href="#">林遥</a>
				</div>
				<div class="iring_info_right2">
					<span class="iring_inscribe">厦门大学 数字媒体艺术</span>
				</div>
			</div>
			<div class="iwant_div">
				<span class="iwant_photo"></span>
				<span class="iring_photo_info"></span>
				<span class="iring_isay">我想吃海底捞啊，有没有人请我</span>
				<div class="iring_info_right1">
					<a class="iring_iname" href="#">林遥</a>
				</div>
				<div class="iring_info_right2">
					<span class="iring_inscribe">厦门大学 数字媒体艺术</span>
				</div>
			</div>
		</div>
		<div class="iring_menber">
			<span>
				<a href="#" class="menber_photo"></a>
				<a href="#" class="menber_name">吴超</a>
				
			</span>
			<span>
				<a href="#" class="menber_photo"></a>
			</span>
			<span>
				<a href="#" class="menber_photo"></a>
			</span>
			<span>
				<a href="#" class="menber_photo"></a>
			</span>

		</div>
	</div>
</div>