<div class="my_attraction">
	<% if (user) { %>
		<div class="navigation">
			<label id="dinner_party" class="lab1"></label>
			<label id="singer" class="lab2" style="background-position: 0px -38px;"></label>
			<label id="attractive" class="lab3"></label>
			<label id="my_attractive" class="lab4"></label>
		</div>
	<% } %>
</div>