include head
.my_attraction
	.navigation(style='border-bottom : 0px')
		label#dinner_party.lab1
		label#singer.lab2(style='background-position: 0px -38px;')
		label#attractive.lab3
		label#my_attractive.lab4
	.isinger_center
		.isinger_left
		.isinger_right
			.isi_rig_up
			.isi_rig_down
include foot