<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<title>饭有引力2</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/fanyouyinli2.css">
	<link rel="stylesheet" type="text/css" href="/stylesheet/resert.css">
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="/script/fanyouyinli.js"></script>
</head>
<body>
	<div class="xuxian">
		<div class="fan_center">
			<div class="fan"></div>
			<% if (error) { %>
			<div class="tip_err"><%= error %></div>
			<% } if (success) { %>
			<div class="tip_success"><%= success %></div>
			<% } %>
		</div>
		<div class="user_info">林瑶</div>
		<div class="user_info" style="margin-right: -406px;">消息</div>
		<div class="user_info" style="margin-right: -365px;">私信</div>
		<div class="user_info" style="margin-right: -324px;">我的聚餐</div>
		<div class="user_city_info">厦门</div>
	</div>


	<%- body %>
	<div class="footer">
	  		<div class="f1">
	  			<div class="f2">
	  				<div class="f3">© 2011 fanyor.com</div>
	  				<div class="f4">我是谁&nbsp;&nbsp;&nbsp;| &nbsp;我从哪里来&nbsp;&nbsp;&nbsp;| &nbsp;我到哪里去 &nbsp;&nbsp;|&nbsp;&nbsp; 我找抽</div>
	  			</div>
	  		</div>
	</div>
</body>
</html>