include head
form#login_form(method='post')
  div.all_center
    div.login_main
      div.login_text1 恭候大驾：
      div.login_text2.text_all 邮箱：
      input#login_email.login_email(name='login_email')
      div.login_text3.text_all 密码：
      input#login_password.login_password(name='login_password', type='password')
      a#login_button.login_button(href='#')
script
  :coffee
    login()
include foot