<form id="login_form" method="post">
	<div class="all_center">
		<div class="login_main">
			<div class="login_text1">恭候大驾：</div>
			<div class="login_text2 text_all">邮箱：</div>
			<input name="login_email" id="login_email" class="login_email"/>
			<div class="login_text3 text_all">密码：</div>
			<input name="login_password" id="login_password" class="login_password" type="password" />
			<a href="#" id="login_button" class="login_button"></a>
		</div>
	</div>
</form>