
	<svg width="1012px" height="436px" viewBox="0 0 1012 436" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <title>Slice 1</title>
    <description>Created with Sketch (http://www.bohemiancoding.com/sketch)</description>
    <defs>
        <circle id="path-1" cx="909.5" cy="318.5" r="71.5"></circle>
        <circle id="path-2" cx="909.5" cy="318.5" r="57.5"></circle>
        <circle id="path-3" cx="909.5" cy="318.5" r="49.5"></circle>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <circle id="Oval-3" stroke="#D7D7D7" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="134.5" cy="112.5" r="52.5"></circle>
        <circle id="Oval-2" stroke="#D7D7D7" stroke-width="3" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="134.5" cy="112.5" r="42.5"></circle>
        <circle id="Oval-1" stroke="#E2958B" stroke-width="6" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="134.5" cy="112.5" r="36.5"></circle>
        <circle id="Oval-3" stroke="#D7D7D7" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="691.5" cy="137.5" r="88.5"></circle>
        <circle id="Oval-2" stroke="#D7D7D7" stroke-width="3" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="693" cy="138" r="71"></circle>
        <circle id="Oval-1" stroke="#FF8263" stroke-width="8" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="693" cy="138" r="64"></circle>
        <ellipse id="Oval-3" stroke="#D7D7D7" stroke-width="2" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="395" cy="244" rx="132" ry="134"></ellipse>
        <ellipse id="Oval-2" stroke="#D7D7D7" stroke-width="3" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="394.5" cy="245" rx="117.5" ry="119"></ellipse>
        <ellipse id="Oval-1" stroke="#5BC7D6" stroke-width="9" fill="#FFFFFF" sketch:type="MSShapeGroup" cx="394.5" cy="244.5" rx="105.5" ry="106.5"></ellipse>
        <g id="Oval-3">
            <use stroke="#D7D7D7" stroke-width="2" fill="#FFFFFF" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-1"></use>
            <use stroke="none" fill="none" xlink:href="#path-1"></use>
        </g>
        <g id="Oval-2">
            <use stroke="#D7D7D7" stroke-width="3" fill="#FFFFFF" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-2"></use>
            <use stroke="none" fill="none" xlink:href="#path-2"></use>
        </g>
        <g id="Oval-1">
            <use stroke="#5BD66A" stroke-width="7" fill="#FFFFFF" fill-rule="evenodd" sketch:type="MSShapeGroup" xlink:href="#path-3"></use>
            <use stroke="none" fill="none" xlink:href="#path-3"></use>
        </g>
    </g>
</svg>
