<form id="reg_form" method="post">
	<div class="all_center">
		<div class="reg_main">
			<div class="reg_text1">天下没有陌生人&nbsp;&nbsp;,&nbsp;&nbsp;只有未认识的朋友</div>
			<div class="reg_text2">注册饭有引力:</div>
			<div class="reg_text3 text_all">邮箱</div>
			<input class="reg_mail" id="reg_mail"  name="reg_mail" />
					<div id="reg_email_tip" class="tips" style="top: 128px; left:520px;" hidden></div>
					<div id="reg_email_tip1" class="tips" style="top: 132px; left:510px;" hidden>*</div>
			<div class="reg_text4 text_all">创建密码</div>
			<input class="reg_password" id="reg_password" name="reg_password" type="password" />
					<div id="reg_password_tip" class="tips" style="top: 182px; left:520px;" hidden></div>
					<div id="reg_password_tip1" class="tips" style="top: 185px; left:510px;" hidden>*</div>
			<div class="reg_text5 text_all">真实姓名</div>
			<input class="reg_name" id="reg_name" name="reg_name" />
					<div id="reg_name_tip" class="tips" style="top: 236px; left:520px;" hidden></div>
					<div id="reg_name_tip1" class="tips" style="top: 240px; left:510px;" hidden>*</div>
			<div class="reg_text6 text_all">性别
			</div>
			<div class="reg_radio">
				<label><input type="radio" name="sex" value="1" />&nbsp;男</label>
				<label><input type="radio" name="sex" value="2" />&nbsp;女</label>
				<label><input type="radio" name="sex" value="3" />&nbsp;其他</label>
			</div>
					<div id="reg_sex_tip" class="tips" style="top: 282px; left:520px;" hidden></div>
					<div id="reg_sex_tip1" class="tips" style="top: 286px; left:510px;" hidden>*</div>
			<div class="reg_text7 text_all">常住城市</div>
			<input class="reg_city" id="reg_city" name="reg_city" />
					<div id="reg_city_tip" class="tips" style="top: 336px; left:520px;" hidden></div>
					<div id="reg_city_tip1" class="tips" style="top: 340px; left:510px;" hidden>*</div>
			<a href="#" id="reg_button" class="reg_button"></a>
 		</div>
	</div>
</form>