include head
.my_attraction
	.navigation(style='border-bottom : 0px')
		label#dinner_party.lab1
		label#singer.lab2(style='background-position: 0px -38px;')
		label#attractive.lab3
		label#my_attractive.lab4
	.userinfo_nav
		.userinfo_navtxt
			a#set_photo.set_photo(href="#") 设置头像
			a#set_userinfo.set_userinfo(href="#") 基本信息
			a#set_userhistory.set_userhistory(href="#") 履历
			a#set_userlab.set_userlab(href="#" style="color:#5bc7d6") 个性标签
			a#modiy_password.modiy_password(href="#") 修改密码
include foot